div{
    background-color: #eee;
    font-size: 18px;
    width: 400px;
    padding: 20px;
    margin: 10px; 
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}